* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}

.card {
    width: 350px;
    height: 250px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0px 9px 5px 9px rgba(0,0,0,0.09);
    text-align: left;
}

.cyan-card {
    border-top: 5px solid hsl(180, 62%, 55%);
}

.red-card {
    border-top: 5px solid hsl(0, 78%, 62%);
}

.orange-card {
    border-top: 5px solid hsl(34, 97%, 64%);
}

.blue-card {
    border-top: 5px solid hsl(212, 86%, 64%);
}

.card img {
    width: 15%;
    margin-left: 70%;
    margin-top: 30%;
}
